<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audiobook Creator | Mini Project</title>
    <link rel="stylesheet" href="../static/master.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <ul>
                <li>
                    <div class="brand">AUDIOBOOK Converter</div>
                </li>
                <li>
                    <a href="mailto:kv641998@gmail.com?Hello" rel="noopener noreferrer">Contact</a>
                </li>
            </ul>
        </div>
        {%block main%}
        {%endblock main%} 

        <footer>
            @AudioBook Creator | Mini Project by Vivek.
        </footer>
    </div>
    <script>
        function getFileName(){
            let upload = document.getElementById("upload");
            let fileName = upload.value.slice(upload.value.lastIndexOf("\\")+1);
            document.getElementById("filename").innerText = fileName;
        };
    </script>
</body>
</html>